* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #f6eee9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, serif;
    color: #493737;
    padding: 20px;
}

.card {
    width: 650px;
    min-height: 520px;
    background: #fffaf7;
    border: 1px solid #d8b9b1;
    padding: 75px;
    text-align: center;
    box-shadow: 0 15px 35px #d3beb8;
    border-radius: 18px;
}
.card::before {
    content: "♡  ✦  ♡";
    position: absolute;
    top: 22px;
    left: 30px;
    font-size: 24px;
    color: #b47a7d;
}

.card::after {
    content: "♡  ✦  ♡";
    position: absolute;
    bottom: 22px;
    right: 30px;
    font-size: 24px;
    color: #b47a7d;
}
.card {
    position: relative;
}
p {
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 20px;
}

h1 {
    font-size: 52px;
    font-weight: normal;
    color: #633f42;
    margin-bottom: 25px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    color: #a76d70;
    margin-top: 30px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 32px;
    background: #a76d70;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 30px;
}

a:hover {
    background: #89595c;
}
.photos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.photos img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}
@media (max-width: 600px) {

    body {
        padding: 15px;
    }

    .card {
        width: 100%;
        min-height: 480px;
        padding: 60px 25px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }

   .photos img {
    width: 95px;
    height: 95px;
} 
}